<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <a class="navbar-brand"><img id="logo" class="d-inline-block mr-1" src="/assets/images/pizzaicon.png" width = "70" height = "70"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav" id="navbar-left">
      <a class="nav-item nav-link" routerLink="home" id="first">Home <span class="sr-only"></span></a>
      <a class="nav-item nav-link" routerLink="menu">Menu</a><hr>
      <a class="nav-item nav-link disabled" routerLink = "deals">Deals</a>
      <a class="nav-item nav-link disabled" routerLink="tracker">Tracker</a>
      <a class="nav-item nav-link disabled" routerLink="cart">Cart</a>
    </div>
  </div>
  <div class="navbar-nav" id="navbar-right">
    <a class="nav-item nav-link" routerLink="createaccount">SignUp</a>
    <a class="nav-item nav-link" routerLink="login">LogIn</a>
  </div>
</nav>
