#navbar-left {
    overflow: hidden;
}
  
#navbar-left a {
    float: left;
    text-align: center;
    color:white;
    margin:auto;
    height:80px;
    font-size: 40px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#navbar-left a:hover {
    background-color:#7E1414;
}
  
#navbar-right {
    float: right;
}

#navbar-right a{
    text-align: center;
    color:white;
    font-size: 40px;
    margin:auto;
    height:80px;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#navbar-right a:hover {
    background-color:#7E1414;
}

.navbar{
    background-color:#8C1717 !important;
    height:80px !important;
    box-shadow: black 0.1em 0.1em 0.2em !important;
}

.disabled{
    color:#EC681C !important;
    font-variant: small-caps !important;
    font-weight: normal !important;
    text-shadow: black 0.0em 0.0em 0.0em !important;
    background-color:#8C1717 !important;
}



