
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>           
	<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="login-box col-md-12">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" formControlName = "username" name="username" id="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                            <div id = "error" *ngIf="f.username.errors?.required && submitted && f.username.errors">Username is required.</div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="text" formControlName="password" name="password" id="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                            <div id = "error" *ngIf="f.password.errors?.required && submitted && f.password.errors">Password is required.</div>
                        </div>
                        <div></div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit" id="submit">
                        </div>
                        <br>
                        <div id="register-link" class="text-right">
                            <a href="/createaccount" class="text-info" id="link">Sign up here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

