body{
    background-color: #f69044;
    height: 120vh;
    background: url("/assets/images/background.jpg");
    background-size: cover;
}

#login{
  color: white;
  font-size: 24px;
  text-shadow: black 0.1em 0.1em 0.2em;
  display: inline-block;
  margin-left:215px;
}


.menu-body {
  max-width: 680px;
  margin: 0 auto;
  display: block;
  color: #fff;
  text-shadow:
		-.25px -.25px 0 black,
		.25px -.25px 0 black,
		-.25px .25px 0 black,
		.25px .25px 0 black;
}

.menu-section {
  margin-bottom: 80px;
}

.menu-section-title {
  font-family: georgia;
  font-size: 65px;
  display: block;
  font-weight:normal;
  /*margin: 20px 0; */
  text-align: Center;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.menu-item {
  margin: 35px 0;
  font-size: 24px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.menu-item-name{
  font-family: helvetica;
  font-weight: bold;
  font-size: 32px;
  border-bottom: 3px dashed black;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.menu-item-description {
  font-style: italic;
  font-weight: bold;
  font-size: .7em;
  line-height: 1.5em;
}

 
.menu-item-price{
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
  text-shadow: black 0.1em 0.1em 0.2em;
}


.menu-button{
      float: right;
      margin-top: -22px;
      color: white;
      text-shadow: black 0.1em 0.1em 0.2em;
      background: #8C1717
  }
  
  .menu-button:hover{
    background-color: #DD813D;
    text-emphasis-color: #B06730;
    cursor: pointer;
  }

  #all{
    position:relative;
    top:80px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    height: 820px;
    border: 1px solid #9C9C9C;
    background: #8C1717;
    box-shadow: black 0.1em 0.1em 0.2em;
    padding: 20px;
  }

  #pizzaleft{
    padding-right: 80px;
  }

  #pizzaright{
    margin-left: 80px;
  }